<div class="container">

  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="#" {{action "newBattle"}}>New Battle</a></li>
      </ul>
    </nav>
    <h4 class="text-muted">CountryCode Battle</h4>
  </div>

  {{liquid-outlet}}
</div>