<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Answer</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |assault|}}
      <tr>
        <td>{{assault.question}}</td>
        <td><span class="label label-primary">{{assault.answer}}</span></td>
        <td><span class="label {{if assault.result 'label-success' 'label-danger'}}">{{assault.userAnswer}}</span></td>
      </tr>
    {{/each}}
  </tbody>
</table>

