<div class="jumbotron">
  <h1>CountryCode Conquest</h1>
  <p class="lead">Welcome to the CountryCode Battle. The place where you can demostrate your skills in the art of associate the correct CountryCode to each Country</p>
  <p><button class="btn btn-lg btn-success" {{action "init"}} href="#" role="button">Let's Conquest</button></p>
</div>